doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 北科大小工具
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css")
    body
        div(class="top-bar")
            div(class="row")
                div(class="top-bar-left")
                    ul(class="dropdown menu", data-dropdown-menu)
                        li(class="menu-text") 北科大小工具
- var exams = [C10302, C10301, C10202, C10201, C10102, C10101, C10002, C10001, C9902, C9901, C9802, C9801, C9702, C9701, C9602, C9601, C9502, C9501, C9402, C9401, C9302];
        each exam in exams
            div(class="row")
                div(class="column")
                    h1= exam.info[0] + "學年度第" + exam.info[1] + "學期國文會考"
                    h2 第壹題、以下每小題（ ）中的字都是錯別字，請改寫為正確的字形。
                    table
                        tr
                            each val, index in exam.A
                                td= index+1
                        tr
                            each val, index in exam.A
                                td= val
                    ol
                        each val, index in exam.B
                            li= val
                    h2 第貳題、請將下列各題成語（ ）內缺空的字，按號碼順序填入答案欄。
                    table
                        tr
                            each val, index in exam.C
                                td= index+16
                        tr
                            each val, index in exam.C
                                td= val
                    ul
                        each val, index in exam.D
                            li= val
                    h2 第參題、請按（ ）內的字音寫出正確的字形。
                    table
                        tr
                            each val, index in exam.E
                                td= index+31
                        tr
                            each val, index in exam.E
                                td= val
                    ol(start="31")
                        each val, index in exam.F
                            li= val
                    if exam.G
                        h2 第肆題、填空。
                        table
                            tr
                                each val, index in exam.G
                                    td= index+46
                            tr
                                each val, index in exam.G
                                    td= val
                        ul(start="46")
                            each val, index in exam.H
                                li= val
        script(src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js")